

 *{
    margin: 0;;
    padding: 0 ;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{ 
    background-color: rgb(43, 27, 58);

}

   .navegacao{
    width:100%;
    top:0;
    position:fixed;
    background:  rgba(221, 133, 220, 0.1);
    padding:1.5rem;
    z-index: 100;

 }

.menu{
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}

.menu-link{
    text-decoration: none;
    color: rgb(203,15,184);
    position:relative;
    font-weight: 500;
    padding: 0.5 0;
}

.menu-link::before{
    content:'';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background:linear-gradient(90deg, #261ebc,#7c3aed); 
    transition: width 0.5s ease;
}
.menu-link:hover:before{
    width: 100%;
}

.foto-perfil{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px  rgba(79,70, 229,0.3);
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

 .principal{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
.div-foto{
    text-align: center;
}