

 *{
    margin: 0;;
    padding: 0 ;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{ 
    background-color: rgb(43, 27, 58);

}

   .navegacao{
    width:100%;
    top:0;
    position:fixed;
    background:  rgba(221, 133, 220, 0.1);
    padding:1.5rem;
    z-index: 100;

 }

.menu{
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}

.menu-link{
    text-decoration: none;
    color: rgb(203,15,184);
    position:relative;
    font-weight: 500;
    padding: 0.5 0;
}

.menu-link::before{
    content:'';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background:linear-gradient(90deg, #261ebc,#7c3aed); 
    transition: width 0.5s ease;
}
.menu-link:hover:before{
    width: 100%;
}

.foto-perfil{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px  rgba(79,70, 229,0.3);
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

 .principal{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
.div-foto{
    text-align: center;
}
.div-foto h1{
    font-size: 35px;
    color: rgb(24, 81, 204);
    margin: 5px;
}
.div-foto p{
    font-size: 1.5rem;
    color: rgba(258, 34, 133, 0.533);

}
.sobre{
    padding: 6rem 2rem;
}
 .sobre-titulo {
    font-size: 2.0rem;
    color: #e2e8f0;
    margin-bottom: 20px;
    text-align: center;
}
 .sobre-caixa{
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}
 .sobre-paragrafo {
    text-align: center;
    font-size: 16px;
 }



 .espaco{
    width:100% ;
    height: 100px;
 }

.forms{
    margin-bottom: 1.5rem ;
   
}
 .campo-form{
    width: 100%;
    padding: 1rem;
    background: rgba(255,255,255, 0.07);
    border-radius: 8px;
    color:#35dc56;
    border: 1px solid rgba(255,255,255, 0.05);
    outline: none;
}
.campo-form:focus{
    border-color: #5a5551;
    box-shadow: 0 0 10px rgba(229, 70, 165, 0.3);

}
.botao{
    width: 100%;
    background: linear-gradient(45deg,#e546b8,#ed3a3d);
    padding: 1rem 2rem;
    color: #e2e8f0;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5 ease;
}
.botao:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.3);
}

.contato-titulo{
    max-width: 600px;
}
.contato{
    padding: 6rem 2rem;

}
.contato-titulo{
    text-align: center;
    font-size: 2.5 rem;
    margin-bottom: 50px;

}
.formulario-contato{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255,255, 0.07);
    padding: 2rem;
    border: 1.5px solid rgba(255,255,255, 0.1);
    border-radius: 16px;
}